.contador {
  text-align: center;
  margin-top: 50px;
}

.valor {
  font-size: 24px;
  margin-bottom: 20px;
}

.botao {
  background-color: #4CAF50; /* Cor de fundo verde */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 40px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.botao:hover {
  background-color: #45a049; /* Cor de fundo verde mais escura no hover */
}

.botao.decrementar {
  background-color: #f44336; /* Cor de fundo vermelha para o botão de decrementar */
}

.botao.decrementar:hover {
  background-color: #d32f2f; /* Cor de fundo vermelha mais escura no hover */
}
